*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.wrap{
    width: 1000px;
    height: 500px;
    border: 4px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.wrap .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrap .box{
    width: 50px;
    height: 50px;
    border: 2px solid blue;
   
}
